<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.africoders.datasync"
    android:versionCode="1000000"
    android:versionName="1.0.0"
    >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="false" />

    <uses-permission android:name="android.permission.CALL_PHONE" android:required="false" />


    <application
    android:supportsRtl="true"
    android:usesCleartextTraffic="true"
    >


        <service android:name=".GoogleService"></service>

    </application>


</manifest>